body{
    background-color: pink;
}

#caixa{
    width: 300px;
    height: 60px;
    background-color: green;
}

.conteudo{
    width: 50%;
    height: 30px;
    background-color: red;
    border: 1px solid #000;
}
